body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #000;
    background: #fff;

}
a,button{
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -ms-transition:0.5s all;
    -o-transition:0.5s all;
}
a{
    text-decoration:none;
    color: #fff;
    font-size: 15px;
}
a:focus,a:hover,a:active{
    outline: 0;
    box-shadow: 0;
    text-decoration: none;
    color: #fff;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    /*padding-top: 60px;*/
}

.sidenav a {
    padding: 5px 8px 5px 20px;
    text-decoration: none;
    color: #636363;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {

}

.sidenav .closebtn {
    position: absolute;
    top: 5px;
    right: 0px;
    margin-left: 50px;
}
.sidenav-header {
    background-color: #e3f0d9;
    padding-top: 30px;
    text-align: center;
    padding-bottom: 25px;
    margin-bottom: 15px;
    color:#5f5f5f;
}
.sidenav-header .pic{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border: 5px solid #fff;
    margin-bottom: 15px;
    border-radius: 50px;
}
.sidenav-header .name{

}
.sidenav .login-btn-div{
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.sidenav .login-btn-div .login-btn{
  font-size:15px;
  color: #fff;
  border-radius: 0px;
  padding-top:10px;
  padding-bottom:10px;  
}
.glyphicon{
    right:10px;
}
@media screen and (max-height: 450px) {
 /* .sidenav {padding-top: 15px;}
 .sidenav a {font-size: 18px;}*/
}
.gay-btn{
    background:#828282;
    border-color:#828282; 
    color:#fff;
}
.gay-btn:hover,.gay-btn:focus{
    background:#828282;
    border-color:#828282; 
    color:#fff;
    outline: none;
}
.green-btn{
    background:#079247;
    border-color:#079247; 
    color:#fff;
}
.green-btn:hover,.green-btn:focus{
    background:#079247;
    border-color:#079247; 
    color:#fff;
    outline: none;
}
.red-btn{
    background:#d6492f;
    border-color:#d6492f; 
    color:#fff;
}
.red-btn:hover, .red-btn:focus{
   background:#d6492f;
   border-color:#d6492f; 
   color:#fff;
   outline: none;
}
.blue-btn{
    background:#3a589b;
    border-color:#3a589b; 
    color:#fff;
}
.blue-btn:hover, .blue-btn:focus{
    background:#3a589b;
    border-color:#3a589b; 
    color:#fff;
    outline: none;
}
.white-btn{
    background:#e3f0d9;
    border-color:#e3f0d9; 
    color:#5f5f5f;
}
.white-btn:hover, .white-btn:focus{
    background:#e3f0d9;
    border-color:#e3f0d9; 
    color:#5f5f5f;
}
.custom-btn-block {
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
    font-size: 15px;
    padding: 10px 12px;
}
.custom-fa{
    font-size: 22px;
    position: relative;
    right: 20px;
    top: 2px;
}
.both-side-line {
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: center;
}
.both-side-line:before, .both-side-line:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 50%;
    height: 1px;
    content: '\a0';
    background-color: red;
}
.both-side-line:before {
    margin-left: -50%;
    text-align: right;
}
.common-page-bg {
  position: relative;
  width: 100%;
  /*height: 100vh;*/
  background: url('../img/page-bg.png') center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.common-page-bg:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right,#7eba66,#adbd56);
    opacity: .6; 
}
.slash-page, .login-sigup-page{
    height: 200vh;
}
.slash-page .logo{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 160px;
}
.login-sigup-page .logo, .login-page .logo, .signup-page .logo, .reset-password-page .logo{
   width: 160px;
   margin: 80px auto;
}
.login-page .logo{
    margin: 60px auto;
}
.form-group {
    margin-bottom: 5px;
}
.form-control {
    width: 90%;
    margin: auto;
    font-size: 15px;
    padding: 20px 12px;
    color: #5f5f5f;
}
.back-arrow{
   position: relative;
   top: 20px;
}
.header-row{
   padding-top:15px;
   padding-bottom:15px;  
}
.custom-nav-tabs li {
    width: 50%;
    text-align: center;
    background: #ededed;
    margin-bottom: 0px;
}
.custom-nav-tabs{
    border: 0px;
}
.custom-nav-tabs li a{
   color: #5f5f5f !important;
   border-radius: 0px;
   border-bottom: 4px solid transparent;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
}
.custom-nav-tabs li a:hover{
    border-color: transparent;
}
.custom-nav-tabs > li.active > a, .custom-nav-tabs > li.active > a:focus, .custom-nav-tabs > li.active > a:hover {
    color: #079247 !important;
    cursor: default;
    background-color: #e3f0d9;
    border-bottom:3px solid #079247;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    font-weight: bold;

}
.bottom-navbar{
    z-index: inherit;
    padding: 20px 0px 20px;
    position: relative;
}
.bottom-navbar img{
    margin: 0 auto;
}

.custom-nav-tabs-content{
   height: 50vh;
   position:relative;
}
.custom-nav-tabs-content .empty-booting-msg{
    position: absolute;
    top: 50%;
    text-align: center;
    left: 50%;
    margin-left: -100px;
}
.hero {
  position: relative;
  width: 100%;
  background: url('../img/header-bg.png') center center no-repeat;
  background-size: cover;
  color: #fff;
  height: 100px;
  margin-bottom: 15px;
}
.hero:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right,#7eba66,#adbd56);
    opacity: .6; 
}
.hero .title{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -70px;
    margin-top: -30px;
    font-size: 20px;
} 
.hero .title .glyphicon{
  right: -10px;
  top: 4px;
}
.hero .booking-step{
   position: absolute;
   bottom: 0;
   background: #079247;
   margin-bottom: 0px;
   padding: 5px;
   font-size: 12px;
   font-weight: bold;
   width: 100%;

}
.responsive-calendar .controls {
    text-align: center;
    background: #e3f0d9;
    color: #5f5f5f;
    padding: 20px 10px;
    margin-bottom: 15px;
}
.responsive-calendar .controls .fa{
    color:#079247;
}
.responsive-calendar .day.header{
    border-bottom: 0px !important;
}
.responsive-calendar .day{
    font-size: 15px;
    font-weight: 300;
}
.responsive-calendar .day a{
    font-size: 13px;
}
.responsive-calendar .day.active a {
    background-color: #fff;
    color: #000;
    border: 1px solid #079247;
    border-radius: 30px;
}
.responsive-calendar .day a:hover{
    background-color: transparent;
}
.responsive-calendar .day.active a:hover {
    background-color: transparent;
}
.responsive-calendar .day .badge {
    top: 25px;
    right: 0px;
    background-color:#079247;
}
.booking-section .number-slot-title{
  font-weight: 300;
  font-size: 13px;
}
.booking-section .number-slot-title .fa{
   background-color:#079247;
   color: #fff;
   font-size: 10px;
   padding: 5px;
   border-radius: 10px; 
}
.modal {
  text-align: center;
  padding: 0!important;
}
.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}






